---
layout: layouts/base-layout.njk
footerStyle: 'default'
headerStyle: 'landing'
eleventyNavigation:
  key: privacy
  order: 4
---

<div class='privacy-holder'>
	<div class='wrapper'>
		{{content | safe }}
	</div>
</div>