---
layout: layouts/base-layout.njk
footerStyle: 'default'
headerStyle: 'landing'
eleventyNavigation:
  key: terms
  order: 5
---

<div class='terms-holder'>
	<div class='wrapper'>
		{{content | safe }}
	</div>
</div>