---
layout: layouts/base-layout.njk
footerStyle: 'default'
headerStyle: 'landing'
eleventyNavigation:
  key: aboutus
  order: 6
---

<div class='about-holder'>
	<div class='wrapper'>
		{{content | safe }}
	</div>
</div>