<div class='details-header'>
	<figure>
		<img class="banner-img" src={{basePath}}{{bannerSrc}} />
	</figure>
	<div class='details-bg'>
		<div class='det-title-holder'>
			<div class="icon-holder">
				<img src={{basePath}}{{src}} />
			</div>
			<h2 class="blog-title check">{{ title }}</h2>
		</div>
	</div>
</div>

<div class="wrapper">
<div class='navi-bar'>
	<div class='parent-nav'>
		<a href='/'>Home</a>
		<span> / </span>
		<a href='/coverages/'>Coverage</a>
		<span> / </span>
		<span class='prod-title'>{{ title }}</span>
	</div>

	<div class='cont-shop-holder'>
		<div class='cont-shop'>
			<a href='/coverages/'>< Continue Shopping</a>
		</div>	
	</div>
</div>
</div>