<header class="header-data">
  <div class="header-top">
    {% if hideAll == true %}
    <div class="top-bar">
      <div class="top-container">
        <div class='slot'>
          <a class="back-to-shop" href='/coverages/'>Back to Shopping</a>
        </div>
      </div>
    </div>
    {% endif %}


    <div class="wrapper">
      <h1 class="logo"><a href="/" title="{{ pageTitle }}" ><img src="/assets/images/header-logo.svg" alt="{{ title }}" /></a></h1>
    </div>
  </div>
</header>