---
layout: layouts/base-layout.njk
footerStyle: 'mikerow'
headerStyle: 'mikerow'
eleventyNavigation:
  key: mikerow
  order: 7
---
{# footerstyle is landing since we want footer of landing page here #}

{% for data in collections.mike %}

{% from 'macros/banner-macro.njk' import BannerData %}
{{ BannerData('/assets/images/Banner-Mikerow.jpg','banner-mike') }}

{% from 'macros/zipcode.njk' import zipCode %}
{{ zipCode(data, 'hero-mike') }}

<div class='about-homeserve'>
	<div class='wrapper'>
		{{content | safe }}
	</div>
</div>

{% from 'macros/online-quote.njk' import onlineQuote %}
{{ onlineQuote(data, 'mikerow-quote') }}

{% endfor %}